[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Name=2fa-authenticator
GenericName=Authenticator
Exec=
Icon=
Terminal=false
StartupNotify=false
Categories=2FA-Security
